<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>gitPub App</title>
</head>
<body>
  <h1>Welcome to GitPub!</h1>
  <style type="text/css">
    body {
      color: blanchedalmond;
      background-color: steelblue;
    }
  </style>
  
<ul>
    <% for(let i = 0; i < allDrinks.length; i++) { %>
        <li>
            <a href="/drinks/<%=i%>"><%=allDrinks[i].name %></a>
        </li>
    <% } %>
</ul>
<%- include('food_index.ejs') %> 
</body>
</html>


