<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>gitPub App</title>
</head>
<body>
<h1>At Foo Bar</h1>
<h2><%= food.name %></h2>
<img src="<%=food.image + '.png'%>">
<h3>$ <%= food.price %></h3>
<style type="text/css">
    body {
    color: blanchedalmond;
    background-color: green;
    }
    
</style>
<a href="/drinks"><button>Back</button></a>
</body>
</html>